/* variables */


:root{
    --shadow: 0px 0px 30px 0px rgba(0, 0, 10, 0.2);
    --whyus:0px 25px 30px 0px rgba(0, 0, 10, 0.2);
}



/* global */

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{

    background-color: #2B9DFF;
    opacity: 100%;
    width: 100%;
    margin:0;
}


h1{
    box-shadow: 0 -23px 22px -24px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    color: #424f5b;
    line-height: 55px;
    margin: 0px auto 0px auto;
    position: absolute;
    background-color: chartreuse;
    height: 100px;
    border-radius: 1000px 0 0 0px;
    width: 100%;
    transform: translateY(-100px);
    /* transform: translate(20%, 0px); */
    margin-right: 0;
    right: 0px;
    overflow: hidden;
    line-height: 100px;
    
    /* font-size: 25px;
    font-weight: 400;
    color: #2B9DFF;
    line-height: 55px;
    margin: 0px auto 0px auto; */
}

h3{
    color: #424f5b;
    font-weight: 400;
    font-size: 20px;
}

p{
    color: #424f5b;
    font-weight: 400;
    font-size: 15px;
}
a{

}


@media screen and (min-width: 600px){
    
    nav{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, minmax(1000px, auto));
    }
    div.members{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1,auto);
    }
    .services{
        display: grid;
        grid-template-columns: repeat(2,1fr); */
        grid-template-rows: repeat(2,minmax(600px, auto));
        row-gap: 20px;
    }
    div.testimonials{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, minmax(500px, auto));
    }
    .whyus{
        background-color: white;
    }
    div.whyElements{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, minmax(400px, auto));
        grid-template-areas:
        "text-1 ill-1"
        "ill-2 text-2"
        "text-3 ill-3"
        "ill-4 text-4"
        "text-5 ill-5";
    }
    div.projects{
        height: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, minmax(400px, auto));
    }
    div.right{
        background-image: url(./assets/illustrations/Desktop/header1x.png);
        background-repeat: no-repeat;
        background-position:100px -350px;
        background-size: cover;
        overflow: hidden;
        padding: none;
        width:100%;
    }
    div.testimonial-illus{
        background-image: url(./assets/illustrations/desktop/customer1x.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    div.development, div.designing{
        line-height:50px;
        color: white;
        font-weight: bold;
    }
    div.development h3{
    color: #2B9DFF;
    }
    div.designing h3{
        color: #2B9DFF;
    }
    div.whyElements :nth-child(2n){
        margin: 10%;
        padding: 5%;
    }
    img#confused{
        width:60%;
        /* height:85%; */
    }
    div.service-image{
        align-self: center;
    }
    div.service-image img{

        margin-left:-100px;
        width:100%;
        /* height:70%; */
    }
}
@media screen and (max-width:600px){
    
    div#p1 img{
        width:60%;
    }
    div#p2 img{
        width:60%;
    }
    div.service-image img{
        margin-left:-100px;
        width:100%;
        height:100%;
    }
    img#confused{
        width:100%;
        height:100%;
    }
    div.testimonial-illus{
        overflow-x: auto;
        background-image: url(./assets/illustrations/mobile/customer1x.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    div.whyElements :nth-child(2n){
        padding: 5%;
    }
    h1{
        margin: none;
    }
    div.development, div.designing{
        line-height:50px;
        color: white;
        font-size: small;
        font-weight: bold;
    }
    div.services h3{
        color: #2B9DFF;
        font-weight: 400;
    }
    div.right{
        background-image: url(./assets/illustrations/mobile/header1x.png);
        background-repeat: no-repeat;
        /*background-position:100px -350px;*/
        background-size: 150%;
        background-position-x: 50px;
        overflow: visible;
        padding: none;
        width:100%;
    }
    nav{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, minmax(500px, auto));
    }
    div.members{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2,auto);
    }
    .services{
        display: grid;
        grid-template-columns: repeat(1,1fr); */
        grid-template-rows: repeat(4,minmax(600px, auto));
        row-gap: 20px;
    }
    .whyus{
        background-color: white;
    }
    div.testimonials{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, minmax(500px, auto));
    }
    div.whyElements{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap:40px;
        grid-template-rows: repeat(10, minmax(auto));
        grid-template-areas:
        "text-1"
        "ill-1"
        "text-2"
        "ill-2"
        "text-3"
        "ill-3"
        "text-4"
        "ill-4"
        "text-5"
        "ill-5"

    }
    div.projects{
        height: 900px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, minmax(400px, auto));
    }
}

.buttonOutline{

}


/* nav */
nav {
    background-color:#DCEFFF;
    z-index: -1;
    line-height: 150px;
    /* text-align: right; */
}

#logo {
    width: 200px;
    margin-top: inherit;
}

nav a img{
    vertical-align: middle;
}

nav a:last-child{
    float: left;
    display: block;
    text-decoration: none;
    color: #2B9DFF;
    border: 2px solid #2B9DFF;
    border-radius: 6px;
    height: 52px;
    width: 154px;
    line-height: 53px;
    text-align: center;
    margin-top: 30px;
}



/* header */

div.right img{
    width: 150%;
    height: 100%;
    position:relative;
    top:-300px;
    right:-100px;
    overflow-x: auto;
}
div.left h1{
    all: unset;
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #2B9DFF;
    line-height: 55px;
    margin: 0px auto 0px auto;
    /* text-align: left;
    width:100%;
    font-size: 30px;
    font-weight: 100; */
}
div.left{
    text-align: left;
    padding:5%;
}

header{
    width:100%;
    height: 1000px;
    min-height: 1000px;
    background-image:url(./assets/illustrations/desktop/headerbg1x.png);
    background-size:  initial;
    background-position:-50px 0px;
    background-repeat:no-repeat;
    /* background-position-x: 667.22px;
    background-position-y: -329.85px; */

    /* background-position-x: -50px; */

}





/* team */
.team{
    text-align: center;
    margin: 5em 0 10em 0;
    padding: 0 5%;
    /* background-image: url(./assets/illustrations/desktop/); */
}

.team h1{
    line-height: 30px;
    margin: 0 auto 20px auto;
}

.members{
    display: flex;
    justify-content: center;
}

.person{
    color: #202427;
    padding-top: 8em;
}

.person img{
    width: 200px;
    padding-bottom: 1em;
/* add shadows todo */
}

.person h3{
    margin-bottom: 5px;
    font-weight: 400;
}
p.personsays{
    margin: none;
    width:100%;
}



/* what we do */
#whatwecando{
    background-color: #DCEFFF;
} 
.services{
    background-color: white;
    width:100%;
    margin:0;
    text-align: center;
    background-image: url(./assets/illustrations/desktop/Group\ 31.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}


.development img{
    width: 30px;
}
.designing img{
    width: 30px;
}
div#abc{
    text-align: left;
    padding-left:20px;
}
div#def{
    text-align: right;
    padding-right:20px;
}
div.development :nth-child(2){
    margin-bottom: 10px;
    margin-left: 10%;
    border-radius: 50px 0px 0 50px;
    background-color: #2B9DFF;
}
div.development :nth-child(3){
    margin-bottom: 10px;
    margin-left: 30%;
    border-radius: 50px 0px 0 50px;
    background-color: #2B9DFF;
}
div.development :nth-child(4){
    margin-bottom: 10px;
    margin-left: 25%;
    border-radius: 50px 0px 0 50px;
    background-color: #2B9DFF;
}
div.development :nth-child(5){
    margin-bottom: 10px;
    margin-left: 40%;
    border-radius: 50px 0px 0 50px;
    background-color: #2B9DFF;
}
div.development :nth-child(6){
    margin-bottom: 10px;
    margin-left: 20%;
    border-radius: 50px 0px 0 50px;
    background-color: #2B9DFF;
}
div.designing :nth-child(2){
    margin-bottom: 10px;
    margin-right: 20%;
    border-radius: 0px 50px 50px 0px;
    background-color: #2B9DFF;
}
div.designing :nth-child(3){
    margin-bottom: 10px;
    margin-right: 25%;
    border-radius: 0px 50px 50px 0px;
    background-color: #2B9DFF;
}
div.designing :nth-child(4){
    margin-bottom: 10px;
    margin-right: 15%;
    border-radius: 0px 50px 50px 0px;
    background-color: #2B9DFF;
}
div.designing :nth-child(5){
    margin-bottom: 10px;
    margin-right: 30%;
    border-radius: 0px 50px 50px 0px;
    background-color: #2B9DFF;
}
div.designing :nth-child(6){
    margin-bottom: 10px;
    margin-right: 40%;
    border-radius: 0px 50px 50px 0px;
    background-color: #2B9DFF;
}
div.customerSays img{
    width: 30%;
    /* height: 50%; */
}







/* why should you consider us */




/* what they say about us */

div.person.customerSays{
    margin: 5%;
}


div.person{
    margin: 10px 50px;
    box-shadow: var(--whyus);
    background-color: #DCEFFF;
    text-align: center;
    padding:50px;
}
div#ill-1{
    align-self: center;
    grid-area: ill-1;
}
div#text-1{
    box-shadow: var(--whyus);
    background-color: #DCEFFF;
    grid-area: text-1;
}
div#ill-2{
    align-self: center;
    grid-area: ill-2;
}
div#text-2{
    box-shadow: var(--whyus);
    background-color: #DCEFFF;
    grid-area: text-2;
}
div#ill-3{
    align-self: center;
    grid-area: ill-3;
}
div#text-3{
    box-shadow: var(--whyus);
    background-color: #DCEFFF;
    grid-area: text-3;
}
div#ill-4{
    align-self: center;
    grid-area: ill-4;
}
div#text-4{
    box-shadow: var(--whyus);
    background-color: #DCEFFF;
    grid-area: text-4;
}
div#ill-5{
    align-self: center;
    grid-area: ill-5;
}
div#text-5{
    box-shadow: var(--whyus);
    background-color: #DCEFFF;
    grid-area: text-5;
}

div.whyElements :nth-child(n){
    text-align: center;
}

div.projects :nth-child(n){
    align-self: center;
    text-align: center;
}
div.projects img{
    width: 30%;
    /* height: 50%; */
}
div.projects{
    background-image: url(./assets/illustrations/desktop/projectsbg1x.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    background-color: ;
}
.footer p{
    color: #2B9DFF;
}
div.footer{
    color: #2B9DFF;
    background-color: #424f5b;
    padding: 50px;
    text-align: center;
}
div.footer h6{
    font-size: 10px;
}
div.footer span.social{
    font-size: x-large;
}
div.footer a{
    text-decoration: none;
    color: #2B9DFF;
}
/* contact us */
.queries{
    background-color: #2B9DFF;
    padding: 5%;
    text-align: center;
}

h1{
    text-align: center;
}
div.whyElements img{
    /* height causes disturbing image resizing */
    /* height:90%; */
    width: 80%;
}
 
.queries h1{
    background-color: #DCEFFF;

}


#lastbtn{ 
    box-shadow: var(--whyus);
    display: block;
    margin: 50px auto 0 auto;
    text-decoration: none !important;
    color: white !important;
    height: 50px;
    background-color: #424f5b;
    max-width: 150px;
    border-radius: 1000px;

}
#lastbtn span img{
    line-height: 50px;
    vertical-align: middle;
    width: 35px;
}
#callNow{
    padding: 5px;
    line-height: 50px;
    vertical-align: middle;
}

/* _______________--------------------_________________ */
.testimonials{
    padding-bottom: 100px;
}
.team{
    background-color: #2B9DFF;
    padding-bottom: 100px;
}
.services{
    padding-bottom: 100px;
}
.whyus{
    padding-bottom: 100px;
}
.projects{
    padding-bottom: 100px;
}
#ourteam{
    border-radius: unset;
    background-color: #2B9DFF;
}
#whatwecando{
    border-radius: 0 1000px 0 0;
    background-color: white;
}
#whyus{
    background-color: white;
}
#whattheysay{
    border-radius: unset;

    background-color: #2B9DFF;
}
#ourprojects{
    background-color: #2B9DFF   ;
}
#query{
    border-radius: unset;
    /* box-shadow: none; */
    background-color: #2B9DFF;
}






    /*
#lastbtn{
    position: relative;
    right: 50%;
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #2B9DFF;
    border: 2px solid #2B9DFF;
    border-radius: 6px;
    height: 52px;
    width: 154px;
    line-height: 53px;
    text-align: center;
    margin-top: 30px;
}

#confused{
    margin: 3em auto 0 auto;
}


.handles div{
    display: inline-block;
    margin: 0 4%;
    margin: 2%;
    padding: 0;
}
.handles{
    /* background-color: #DCEFFF; */

    /* margin: 4em auto 1em auto;
    float: center;
}
.handles div a:last-child {
    width: 80px;
    height: 10px;
    text-align: center;
    display: block;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    color: #2B9DFF;
    border-radius: 1000px;
    margin-top: 15px;
    background-color: #DCEFFF;
    padding: 20px;
}
.handles div a img{
    width: 50px;
}
.handles div a p{
    line-height: 10px;
} */ */
